@model IEnumerable<SBDlibrary.Models.Zamowienie_ksiazki>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ilosc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zamowienia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ksiazki)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ilosc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zamowienia.id_zamowienia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ksiazki.tytuł)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
