<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<style>
    h1 {
        font-family: 'Lato', monospace;
    }
</style>
@model IEnumerable<SBDlibrary.ViewModels.BookViewModels.KsiazkaViewModel>

@{
    ViewData["Title"] = "Ksiazki";
}


<h1>ksiazki</h1>


<table class="table">
    <thead>
        <tr>            
            <th>
                @Html.DisplayNameFor(model => model.tytuł)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.autorzy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kategorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_ksiazki)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data_wydania)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wydawnictwa.nazwa)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.tytuł
                </td>
                <td>
                    @foreach (var autor in item.autorzyLista)
                    {
                        <li>@autor</li>
                    }
                </td>
                <td>
                    @foreach(var kategoria in item.kategorieLista)
                    {
                        <li>@kategoria</li>
                    }
                </td>
                <td>
                    @item.id_ksiazki               
                </td>
                <td>
                    @item.data_wydania
                </td>
                <td>
                    @item.Wydawnictwa.nazwa
                </td>
            </tr>
        }
    </tbody>
</table>