<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<style>
    h1 {
        font-family: 'Lato', monospace;
    }
</style>
@model IEnumerable<SBDlibrary.Models.Kategorie>

@{
    ViewData["Title"] = "Kategorie";
}


<h1>Kategorie</h1>
<hr />
<div>
    <a class="btn btn-outline-secondary" asp-action="Stworz">Dodaj</a>&nbsp;&nbsp;
</div>
<br />
<div style="text-align:center ">
    <form asp-action="Index">
        <p>
            <input placeholder="Nazwa" type="text" name="nazwa" size="80">&nbsp;
            <input type="submit" value="Filtruj" />&nbsp;
            @Html.ActionLink("Wyłącz filtry", "Index")
        </p>
    </form>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nazwa)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nazwa)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "Edytuj", new { id = item.id_kategorii }) |
                    @Html.ActionLink("Usuń", "Usun", new { id = item.id_kategorii })
                </td>
            </tr>
        }
    </tbody>
</table>