@model SBDlibrary.Models.Wypozyczenia

<h1>Details</h1>

<div>
    <h2>EventsModel</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Egzemplarze.id_egzemplarza)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Egzemplarze.id_egzemplarza)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Egzemplarze.Ksiazki.id_ksiazki)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Egzemplarze.Ksiazki.id_ksiazki)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Egzemplarze.Ksiazki.tytuł)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Egzemplarze.Ksiazki.tytuł)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.data_wypozyczenia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.data_wypozyczenia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.data_zwrotu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.data_zwrotu)
        </dd>
        </dd>
    </dl>
</div>

