<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<style>
    h1 {
        font-family: 'Lato', monospace;
    }
</style>
@model IEnumerable<SBDlibrary.Models.Wypozyczenia>

@{
    ViewData["Title"] = "Ksiazki";
}


<h1>ksiazki</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Miniatura
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Egzemplarze.Ksiazki.tytuł)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data_wypozyczenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data_zwrotu)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="https://via.placeholder.com/150" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Egzemplarze.Ksiazki.tytuł)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.data_wypozyczenia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.data_zwrotu)
               
                </td>
            </tr>
        }
    </tbody>
</table>