<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<style>
    h1 {
        font-family: 'Lato', monospace;
    }
</style>
@model IEnumerable<SBDlibrary.Models.Dostawcy>

@{
    ViewData["Title"] = "Dostawcy";
}


<h1>Dostawcy</h1>

<div>
    <a asp-action="Create">Dodaj</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_dostawcy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nazwa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id_dostawcy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nazwa)
                </td>
                <td>
                    @Html.ActionLink("Details","Details","Dostawcy",new { id = item.id_dostawcy},null)
                </td>
            </tr>
        }
    </tbody>
</table>