@model SBDlibrary.Models.Uzytkownicy
@{
    ViewData["Title"] = "FindUser";
}

<form class="form-inline" method="post" name="EmailPost" novalidate>
    <div class="form-group mx-sm-3 mb-2">
        <input asp-for="email" class="form-control" placeholder="Email" />
        <span asp-validation-for="email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Szukaj</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nazwisko)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @if (Model != null)
            {
                <td>
                    @Html.DisplayFor(modelItem => modelItem.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.imie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.nazwisko)
                </td>
                <td>
                    <a asp-area="" asp-controller="Account" asp-action="SetRoles" asp-route-id="@Model.id_uzytkownika">Zmień role</a>
                </td>
            }
        </tr>

    </tbody>
</table>