@model IEnumerable<SBDlibrary.Models.Zamowienia>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.data_zamowienia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status_zamowienia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dostawcy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.data_zamowienia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status_zamowienia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dostawcy.adres)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_zamowienia">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_zamowienia">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_zamowienia">Delete</a>
                @if (item.status_zamowienia == Zamowienia.Status.Zamówione)
                {
                   <text>| </text><a asp-action="CollectOrder" asp-route-id="@item.id_zamowienia">Odbierz zamówienie</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
