@model IEnumerable<SBDlibrary.Models.Logi>
@{
    ViewData["Title"] = "Index";
}

<h1>Logi</h1>

<form asp-action="Index">
    <p>
        Email: <input placeholder="Email" type="text" name="email">
        <input type="submit" value="Filtruj" />
        @Html.ActionLink("Wyłącz filtry", "Index")
    </p>
</form>

@Html.ActionLink("Powrót", "Zarzadzaj", "Konta")

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_logu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_uzytkownika)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ip_urzadzenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.komunikat)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id_logu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_uzytkownika)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ip_urzadzenia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.komunikat)
                </td>
            </tr>
        }
    </tbody>
</table>

