@model IEnumerable<SBDlibrary.ViewModels.ZwrotyViewModels.ZwrotKsiazkiViewModel>

@{
    ViewData["Title"] = "Zwroty";
}

<h1>Zwroty</h1>

<p>
    <a asp-action="Zwroc">Zwróć książkę</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tytul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data_zwrotu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kara)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tytul)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_zwrotu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kara)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_zwrotu">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_zwrotu">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_zwrotu">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
